.filter-modal {
    border-radius: 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 60px;
}

.filter-heading {
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 300;
    line-height: 1.33;
}

.filter-close {
    width: 36px;
    height: 36px;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    background-color: var(--grey);
    transition: 0.3s;

    &:hover {
        background-color: var(--foggy-grey);
    }
}

.filter-group {
    background-color: var(--foggy-grey);
    color: black;
    width: 100%;
    padding: 10px 12px;
    text-align: left;
    border: solid 1px #cccccc;
    outline: none;
    transition: 3s;

    &--header {
        @extend .filter-group;
        background-color: var(--gunmetal);
        border: solid 1px var(--black);
        color: white;
    }
}

.filter-icon {
    margin: auto 5px;
}

.tag {
    display: inline;
    border-radius: 0;
    border: solid 1px var(--gunmetal);

    &:hover {
        border: solid 1px black;
    }
}

.artifact-count {
    font-size: 0.75rem;
    font-weight: 300;
}